---
interface Props {
	href?: string;
	text?: string;
	isSubmit?: boolean;
}

const {
	href='#',
	text='Send',
	isSubmit = false
} = Astro.props as Props;
---

{isSubmit ?
	<button type="submit" class="px-12 py-3.5 align-baseline bg-brightRed text-bgColor border rounded-full border-brightRed transition-all duration-500 ease-out">
		{text}
	</button>
:
	<a href={href} class="px-12 py-3.5 align-baseline bg-brightRed text-bgColor border rounded-full border-brightRed transition-all duration-500 ease-out">
		{text}
	</a>
}

