---
interface Props {
	href?: string;
	text?: string;
	isSubmit?: boolean;
}

const {
	href='#',
	text='Send',
	isSubmit = false
} = Astro.props as Props;
---

{isSubmit ?
	<button type="submit" class="btn">
		{text}
	</button>
:
	<a href={href} class="btn">
		{text}
	</a>
}
