---
import { Image } from "astro:assets";
import Layout from '../../layouts/Layout.astro';
import Button from '../../components/Button.astro';

import howToOrderImage from "../../assets/images/how-to-order.jpg";

const { product_name } = Astro.params;
---

<Layout>
	<div class="container flex mx-auto mt-16 md:mt-20">
		<div class="w-full md:w-3/5 lg:w-1/2 xl:w-2/5 flex">
			<div class="flex flex-col justify-center h-full w-full px-[2rem] md:px-[2.5rem] lg:px-[3.5rem] space-y-5">
				<h2 class="font-serif text-4xl md:text-5xl text-center md:text-left pb-4">
					Place an order
				</h2>
				<p>
					Please leave your contact information and we will get back to you as soon as possible
				</p>
				<form name="form-order" id="form-order" method="POST" data-netlify="true" action="/form-order/success" class="form-main">
					<div class="input-wrapper">
						<input
							type="text"
							id="name"
							name="name"
							class="form-input"
							placeholder="Name"
							autocomplete="given-name"
							required
						/>
						<label for="name" class="form-label">
							Name
						</label>
					</div>
					<div class="input-wrapper">
						<input
							type="tel"
							id="phone"
							name="phone"
							class="form-input"
							placeholder="Phone Number"
							autocomplete="phone-fill"
							required
						/>
						<label for="phone" class="form-label">
							Phone Number
						</label>
					</div>
					<div class="input-wrapper">
						<textarea
							id="message"
							name="message"
							class="form-input"
							rows="3"
							placeholder="Message"
						>{product_name}</textarea>
						{/*
						<textarea id="message" name="message" rows="3" class="px-5 py-3.5 w-full bg-veryLightGray rounded-3xl" placeholder="Message">{product_name}</textarea>
						 */}
						<label for="message" class="form-label form-label-textarea">
							Message
						</label>
					</div>
					<div class="flex justify-center md:justify-start mt-8">
						<Button isSubmit={true} desc="Send your contact information" />
					</div>
				</form>
			</div>
		</div>
		<div class="hidden md:block md:w-2/5 lg:w-1/2 xl:w-3/5 h-[30rem] overflow-hidden">
			<Image src={howToOrderImage} alt="how to order" format="avif" class="object-cover w-full h-full" />
		</div>
	</div>
</Layout>