---
export const prerender = true;

import Layout from '../../layouts/Layout.astro';
import Button from '../../components/Button.astro';
---
<Layout>
	<div class="container flex flex-col space-y-6 text-center mx-auto mt-16 md:mt-20">
		<h2 class="font-serif text-3xl ">
			Thank you!
		</h2>
		<p>
			Your form submission has been received!<br>
		</p>
		<p class="flex justify-center pt-6">
			<Button text="Go Back" desc="Go to main page" href="/" />
		</p>
	</div>
</Layout>