---
import Icon from 'astro-icon';
import Layout from '../../layouts/Layout.astro';
---
<Layout>
	<div class="container flex flex-col text-center mx-auto mt-16 md:mt-20">
		<h2 class="font-serif text-3xl my-4">
			Thank you!
		</h2>
		<p>
			Your form submission has been received!<br>
		</p>
		<p class="mt-3 flex justify-center items-center">
			Go to
			<a href="/" class="pl-2 font-semibold flex items-center gap-1">
				<span>main page</span> <Icon name="mdi:arrow-right" width="36px" class="" />
			</a>
		</p>
	</div>
</Layout>