---
import Layout from '../../layouts/Layout.astro';
import { ProductSearchResult } from '../../components/ProductSearchResult';

const { keyword } = Astro.params;
---

<Layout title=`Search result of {keyword}`>
	<div class="container flex flex-col px-2 md:px-6 mx-auto space-y-10 lg:space-y-12">
		<div class="flex flex-col items-center space-y-8">
			<h5 class="font-serif text-3xl md:text-3xl ">
				Search Result
			</h5>
		</div>

		<ProductSearchResult param_keyword={keyword} client:load />
	</div>
</Layout>
